# HTTP-Anfragen senden
requests

# Web-Scraping (Daten werden automatisch aus einer Webseite extrahiert)
# und HTML-Parsing (Analysieren und Umwandeln dieser Daten in eine strukturierte Form)
beautifulsoup4
